/* You can add global styles to this file, and also import other style files */
@import '~@fortawesome/fontawesome-free/css/all.css';
.nav-item {
    border-left: 1px solid darkgray;
  }
  .img-head
  {
    padding-right: 20px;
  }
  .heading
  {
    font-size: 30px;
    border-left: 1px solid darkgray;
    padding-left: 20px;
  }
  
  /* .nav-item:last-child {
    border-right: none;
  } */

  .navbar-nav .nav-link {
    font-size: 20px; /* Increase the font size to your desired value */
  }
  .nav-item.active .nav-link {
    color: orange;
  }




  