.container {
    margin-top: 20px;
  }
  

  
  table {
    width: 100%;
  }
  
  th {
    text-align: center;
  }
  
  td {
    text-align: center;
  }
  .progress-bar-danger {
    background-color: #D82E3F;
  }
  
  .progress-bar-warning {
    background-color: #FFF44F;
  }
  
  .progress-bar-success {
    background-color: #28CC2D;
  }
  
  