.container {
    margin-top: 20px;
  }
  

  
  table {
    width: 100%;
  }
  
  th {
    text-align: center;
  }
  
  td {
    text-align: center;
  }
  .progress-bar-danger {
    background-color: #D82E3F;
  }
  
  .progress-bar-warning {
    background-color: #FFF44F;
  }
  
  .progress-bar-success {
    background-color: #28CC2D;
  }
  
  .nav-item {
    border-left: 1px solid darkgray;
  }
  .img-head
  {
    padding-right: 20px;
  }
  .heading
  {
    font-size: 30px;
    border-left: 1px solid darkgray;
    padding-left: 20px;
  }
  
  /* .nav-item:last-child {
    border-right: none;
  } */

  .navbar-nav .nav-link {
    font-size: 20px; /* Increase the font size to your desired value */
  }
  .nav-item.active .nav-link {
    color: orange;
  }
