<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between" >
  <a class="navbar-brand" ><img src="../assets/logo.png" class="img-head"> <span class="heading">District wise supply status on 18 May 2023</span></a>
 
  
    <ul class="navbar-nav d-flex justify-content-between">
      
      <li class="nav-item" [ngClass]="{ 'active': isLinkActive('urban') }">
        <a class="nav-link" (click)="setActiveLink('urban')"><span class="fa-solid fa-city"></span> Urban <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" [ngClass]="{ 'active': isLinkActive('rural') }">
        <a class="nav-link" (click)="setActiveLink('rural')"><span class="fa-solid fa-house"></span> Rural</a>
      </li>
      
      <li class="nav-item" >
        <a class="nav-link" (click)="exportToExcel()"><span class="fa-solid fa-file-arrow-down"></span></a>
      </li>
    </ul>

</nav>

<div class="container-fluid">
  <div class="row justify-content-center">
      <div class="card">
        <div class="card-body">  
          
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Division Name</th>
                <th>Group ID</th>
                <th>State Code</th>
                <th>State Name</th>
                <th>District Code</th>
                <th>District Name</th>
                <th>Scheduled</th>
                <th>Given</th>
                <th>% Given vs Scheduled</th>
               
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let district of districts">
                <td>{{ district['Division Name'] }}</td>
                <td>{{ district['Group_ID'] }}</td>
                <td>{{ district['State Code'] }}</td>
                <td>{{ district['State Name'] }}</td>
                <td>{{ district['District Code'] }}</td>
                <td>{{ district['District Name'] }}</td>
                <td>{{ district['Scheduled'] }}</td>
                <td>{{ district['Given'] }}</td>
                <td>{{ calculatePercentage(district['Given'], district['Scheduled']) }}
                  <div class="progress">
                      <div
                        class="progress-bar"
                        role="progressbar"
                        [style.width.%]="(district['Given'] / district['Scheduled']) * 100"
                        [style.backgroundColor]="getProgressBarColor(district['Given'], district['Scheduled'])"
                        [attr.aria-valuenow]="(district['Given'] / district['Scheduled']) * 100"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        [ngClass]="{ 'progress-bar-danger': (district['Given'] / district['Scheduled']) < 0.4, 'progress-bar-warning': (district['Given'] / district['Scheduled']) >= 0.4 && (district['Given'] / district['Scheduled']) < 0.7, 'progress-bar-success': (district['Given'] / district['Scheduled']) >= 0.7 }"
                      >
                      
                      </div>
                    </div>
                </td>
               
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>
</div>
